body {
    font-size: 12px;
    margin: 0 auto;
    max-width: 10000px;
    background: #F5F5F5;
    min-width: 960px;
    width: 100%;
    font-family: Roboto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    hyphens: auto;
}

.fullwidth, body#bp-default #wp-admin-bar .padder {
    width: 100% !important;
    max-width: 10000px !important;
    min-width: 960px;
    margin: 0 auto;
    clear: both;
    float: left;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    color: #141414;
}

.form-group {
    height: 55px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin-top: -10px;
}

.control-label {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    -webkit-transform: translate3d(0, 22px, 0) scale(1);
    -moz-transform: translate3d(0, 22px, 0) scale(1);
    transform: translate3d(0, 22px, 0) scale(1);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: 240ms;
    -moz-transition: 240ms;
    transition: 240ms;
}

.form-group.focused .control-label {
    opacity: 1;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    color: #eaeaea;
}

.lg.focused .control-label {
  color: #141414;
}

.form-control {
    align-self: flex-end;
}

.form-control::-webkit-input-placeholder {
    color: transparent;
    -webkit-transition: 240ms;
    -moz-transition: 240ms;
    transition: 240ms;
}

.form-control:focus::-webkit-input-placeholder {
    -webkit-transition: none
    -moz-transition: none;
    transition: none;
}

.form-group.focused .form-control::-webkit-input-placeholder {
    color: #bbb;
}

#textbox {
    width: 50%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    margin-left: 50%;
    position: absolute;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.top {
    width: 200%;
    height: 100%;
    position: relative;
    left: 0;
    left: -100%;
}

.left {
    width: 50%;
    height: 100%;
    background: #141414;
    left: 0;
    position: absolute;
}

.right {
    width: 50%;
    height: 100%;
    background: #eaeaea;
    right: 0;
    position: absolute;
}

#ic {
    width: 250px;
    margin: 0 auto;
    top: 50%;
    margin-top: -162px;
    position: absolute;
    left: 50%;
    margin-left: -125px;
}

.left #ic {
    margin-top: -289px;
}

#ic p {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color: #757575;
    margin-bottom: 30px;
}

form#sign_up_div input {
    border-bottom: 1px solid #cdcdcd;
    color: #959595;
    font-size: 14px;
    width: 100%;
    resize: none;
    max-height: 20px;
    outline: 0;
    border-left: 0;
    border-right: 0;
    padding: 8px 0;
    margin-top: 20px !important;
    background: none;
    border-top: 0;
    overflow: hidden;
    transition: border .2s;
    -webkit-transition: border .2s;
}

form#login_div input {
    border-bottom: 1px solid #cdcdcd;
    color: #959595;
    font-size: 14px;
    width: 100%;
    resize: none;
    max-height: 20px;
    outline: 0;
    border-left: 0;
    border-right: 0;
    padding: 8px 0;
    margin-top: 20px !important;
    background: none;
    border-top: 0;
    overflow: hidden;
    transition: border .2s;
    -webkit-transition: border .2s;
}

#sign_up_div .form-group {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

#login_div .form-group {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}


#sign_up_div h2 {
    font-size: 28px;
    font-weight: 400;
    color: #141414;
    line-height: 35px;
}

#login_div h2 {
    font-size: 28px;
    font-weight: 400;
    color: #141414;
    line-height: 35px;
}

#sign_h2 {
  font-size: 28px;
  font-weight: 400;
  color: #eaeaea;
  line-height: 35px;
}

#sign_up_div .soninpt {
    margin-bottom: 30px;
}

#login_div .soninpt {
    margin-bottom: 30px;
}

.left form#sign_up_div input {
    border-bottom: 1px solid #45494C;
}

.left form#login_div input {
    border-bottom: 1px solid #45494C;
}

.left .control-label {
    color: #959595;
}

.left .yarim {
    width: 46% !important;
    float: left;
    margin-right: 8%;
}

.left .sn {
    margin-right: 0;
}

form#sign_up_div .mainbtn {
    width: auto;
    float: right;
    background: #141414;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin: 0 !important;
    line-height: 16px;
    font-family: Roboto;
    text-transform: uppercase;
    max-height: 36px;
    height: 36px;
    letter-spacing: 0.5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: background-color,-webkit-box-shadow;
    transition-property: background-color,box-shadow;
    border: 0;
}

form#login_div .mainbtn {
    width: auto;
    float: right;
    background: #141414;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin: 0 !important;
    line-height: 16px;
    font-family: Roboto;
    text-transform: uppercase;
    max-height: 36px;
    height: 36px;
    letter-spacing: 0.5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: background-color,-webkit-box-shadow;
    transition-property: background-color,box-shadow;
    border: 0;
}


form#sign_up_div .mainbtn:hover {
    -webkit-box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}

form#login_div .mainbtn:hover {
    -webkit-box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}

form#sign_up_div .su {
  background: #eaeaea;
  color: #141414;
}

form#login_div .su {
  background: #eaeaea;
  color: #141414;
}

form#login .su {
  background: #eaeaea;
  color: #141414;
}

#moveleft {
    width: auto;
    float: right;
    background: none;
    padding: 10px 16px;
    font-family: Roboto;
    font-size: 14px;
    color: #141414;
    font-weight: 600;
    margin: 0 10px !important;
    line-height: 16px;
    text-transform: uppercase;
    cursor: pointer;
    max-height: 36px;
    height: 36px;
    letter-spacing: 0.5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    border: 0;
    outline: 0;
}

#moveright {
  width: auto;
  float: right;
  background: none;
  padding: 10px 16px;
  font-family: Roboto;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  margin: 0 10px !important;
  line-height: 16px;
  text-transform: uppercase;
  cursor: pointer;
  max-height: 36px;
  height: 36px;
  letter-spacing: 0.5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  border: 0;
  outline: 0;
}

#moveright:hover {
  background:
}

#moveleft:hover {
    background: #cccccc;
}

#moveright:hover {
    background: #363A3D;
}

#fback {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -9999;
}

.pane_2 {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #eaeaea;
    background-size: cover;
    background-position: 50% 50%;
}

.pane_1 {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: #141414;
  background-size: cover;
  background-position: 50% 50%;
}

#lead_img {
  float: right;
  height: 100%;
  -webkit-mask-image:-webkit-gradient(linear, right top, left top, from(rgba(20,20,20,1)), to(rgba(20,20,20,0)));
}

#lead_2_img {
  float: left;
  height: 100%;
  -webkit-mask-image:-webkit-gradient(linear, left top, right top, from(rgba(234,234,234,1)), to(rgba(234,234,234,0)));
}

::selection {
  color: #eaeaea;
  background: #141414;
}
